<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:hz="http://www.hazelcast.com/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.hazelcast.com/schema/spring
          http://www.hazelcast.com/schema/spring/hazelcast-spring-3.4.xsd">  
    
    <context:component-scan base-package="com.farkalit.hazelcast.jdbc" ></context:component-scan>
    
    <bean id="empDS" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test" />
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>
    <bean id="employeeDAO" class="com.farkalit.hazelcast.jdbc.JDBCEmployeeDAO" scope="singleton">
        <property name="dataSource" ref="empDS"/>
    </bean>

    <bean id="employeeCacheDao" class="com.farkalit.hazelcast.jdbc.HazelcastEmployeeDAO"/>
    
    <bean id="hazelcast" class="com.hazelcast.core.Hazelcast"/>

    <hz:hazelcast id="instance">
        <hz:config>
            <hz:network port="5701" port-auto-increment="false">
                <hz:join>
                    <hz:multicast enabled="false"/>
                </hz:join>
            </hz:network>

            <hz:map name="employeeMap" read-backup-data="true">

                <hz:map-store enabled="true" write-delay-seconds="60"
                              initial-mode="EAGER"
                              implementation="employeeCacheDao"/>
            </hz:map>
        </hz:config>
    </hz:hazelcast>

    <hz:client id="client">
        <hz:network connection-attempt-limit="3"
                    connection-attempt-period="3000"
                    connection-timeout="1000"
                    redo-operation="true"
                    smart-routing="true">
            <!--            <hz:member>localhost</hz:member>-->
            <hz:member>10.213.18.3</hz:member>
        </hz:network>
    </hz:client>
</beans>