<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    
     <!-- Display name below used by the Portal framework for the "Module heading" text in the Page Banner -->
    <display-name>Usman Spring Hibernate</display-name>

     <!-- Spring MVC dispatcher and Spring MVC Context declaration  -->
    <servlet>
        <servlet-name>Usman-SpringHib-Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/usman/springhib/context/springhib-dashboard-webapp.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usman-SpringHib-Servlet</servlet-name>
        <url-pattern>/app/views/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <location>/WEB-INF/jsps/common/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
